* {
    box-sizing: border-box;
}

body {
    background-color: #40E0D0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 
    'Lucida Sans', Arial, sans-serif;
}

h1 {
    text-align: center;
    color: darkblue;
}


nav a:link,
nav a:visited {
    text-decoration: none;
    background-color: lightblue;
    border: 3px solid lightblue;
    color: black;
    width: 400px;
    text-align: left;
    margin-right: 8px; 
    padding: 4px 8px 4px 8px; 
}

nav a:hover,
nav a:active {
    background-color: whitesmoke;
    color: purple;
}