* {
    box-sizing: border-box;
}

body {
    background: lightblue;
    
}

h1 {
    background: lightgray;
}

.bsbox {
    background: lightpink;
}

.col {
    background-color: aquamarine;
    margin: 3px solid black;
}

.styleone {
    background-color: brown;
    margin: 3px solid black;
}