body {
    margin: 0;
    padding: 0; 
    background-color: azure;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 
    'Lucida Sans', Arial, sans-serif;

}

h1 {
    text-align: center;
    color: lightblue;
}


nav a:link,
nav a:visited {
    text-decoration: none;
    background-color: lightblue;
    border: 2px solid lightblue;
    color: black;
    width: 400px;
    text-align: center;
    margin-right: 10px; 
    padding: 4px; 
}

nav a:hover,
nav a:active {
    background-color: whitesmoke;
    color: purple;
}