nav a:link,
nav a:visited {
    font-size: 16pt;
    text-decoration: none;
    background-color: lightblue;
    border: 1px solid lightblue;
    color: black;
    width: 400px;
    text-align: left;
    margin-bottom: 1px;
}

nav a:hover,
nav a:active {
    background-color: whitesmoke;
    color: purple;
}