body {
    background-color: #ffffff;; 
    text-align: center; 
}

h1 {
    color: #070944;
}

h2, h3, h4, ul, ol {
    text-align: left;
    color: #070944;
}

p, div {
    text-align: left; 
    color: #788184;
}

footer {
    font-size: 9pt; 
    text-align: center;
    color: #788184;
}